apiVersion: apps/v1
kind: Deployment
metadata:
  name: swagger-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app: swagger-ui
  template:
    metadata:
      labels:
        app: swagger-ui
    spec:
      containers:
        - name: swagger-ui
          image: swaggerapi/swagger-ui:latest
          ports:
            - containerPort: 8080
          env:
            - name: SWAGGER_JSON
              value: /openapi.yaml
            - name: BASE_URL
              value: /docs
          volumeMounts:
            - name: api-spec
              mountPath: /openapi.yaml
              subPath: openapi.yaml
              readOnly: true
      volumes:
        - name: api-spec
          configMap:
            name: api-docs
---
apiVersion: v1
kind: Service
metadata:
  name: swagger-ui
spec:
  selector:
    app: swagger-ui
  ports:
    - name: http
      port: 80
      targetPort: 8080
