apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: swagger-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts: [blog.local]
      secretName: blog-local-tls
  rules:
    - host: blog.local
      http:
        paths:
          - path: /docs
            pathType: Prefix
            backend:
              service:
                name: swagger-ui
                port:
                  number: 80
